{% comment %}
  Baby Bento - SKU Modernization Pipeline
  Logic: Only renders the Specifications accordion if the Rich Text metafield is populated.
{% endcomment %}

<div class="product-extra-tabs product__accordion accordion quick-add-hidden">
  {%- if product.metafields.custom.specifications.value != blank -%}
    <details id="Details-{{ section.id }}-Specifications">
      <summary>
        <div class="summary__title">
          {% render 'icon-accordion', icon: 'clipboard' %}
          <h2 class="h4 accordion__title">
            Specifications
          </h2>
        </div>
        {% render 'icon-caret' %}
      </summary>
      <div class="accordion__content rte" id="ProductAccordion-{{ section.id }}-Specifications">
        {{ product.metafields.custom.specifications.value }}
      </div>
    </details>
  {%- endif -%}
</div>