/*====== Font size ======*/
/* the clamp() = minimum size, ideal size, and maximum size */
/*
slideTitle: clamp(10px, 5vw, 50px);
slideSubtitle: clamp(10px, 5vw, 50px);
slideBtn: clamp(10px, 1.5vw, 20px);*/
.slideshowContainer {
width: 90vw;
height: 50vw;
overflow: hidden;
margin: 5rem auto;
display: flex;
position: relative;
flex-flow: column wrap;
align-items: center;
}
.slideWrapper {
margin: auto;
display: block;
position: absolute;
background: white;
overflow: hidden;
width: 100%;
height: 100%;
}
.slideImage {
width: 100%;
height: 100%;
display: block;
object-fit: cover;
position: relative;
vertical-align: middle;
}
.descriptionContainer {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
padding: 30px;
display: flex;
flex-direction: column;
}
.badgeTitle {
color: inherit;
padding: 0 5px;
width: fit-content;
background-color: var(--yellow-bg-color);
text-transform: uppercase;
margin: 0;
font-size: clamp(10px, 3vw, 45px);
margin-left: 2px;
}
.slideTitle {
color: white;
display: inline-block;
margin: 0!important;
font-size: clamp(10px, 5vw, 50px);
line-height: 1.1;
}
.slideSubtitle {
color: white;
display: inline-block;
margin: 0!important;
font-size: clamp(8px, 2.5vw, 35px);
line-height: 1.1;
}
.slideBtn{
background-color: var(--red-btn-color);
color: var(--white-bg-color);
display: inline-block;
border-radius: 5px;
box-sizing: border-box;
font-size: clamp(10px, 1.5vw, 20px);
margin-top: 10px;
position: relative;
border: none;
padding: 5px;
}
.slideBtn:hover{
background-color: var(--white-bg-color);
color: var(--black-font-color);
transform: scale(1.2);
transition: all 1s ease;
overflow: hidden;
}
.slideBtn:hover::after{
transition: all .7s ease;
border: solid red 0px;
opacity: 1;
visibility: visible;
}
.slideBtn::after {
content: '';
opacity: 0.5;
visibility: hidden;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 150%;
height: 150%;
background: transparent;
border-radius: 50%;
border: solid red 40px;
}

/* ==== SLIDE CONTROLS ==== */
.controlContainer {
display: flex;
justify-content: center;
position: absolute;
bottom: 2%;
}
:is(.controlContainer,.pauseContainer2):hover {
transform: scale(1.2);
}
@media only screen and (max-width: 400px) {
:is(.controlContainer,.pauseContainer2):hover {
transform: scale(1.1);
}
}
.controlContainer:hover > div {
background-color: var(--button--dark-bg-color);
}
.btnContainer {
height: 30px;
display: flex;
justify-content: space-between;
align-items: center;
color: var(--button-color);
background-color: var(--button-bg-color);
padding: .5%;
}
.controlBtn {
display: inline-block;
cursor: pointer;
width: 25px;
height: 15px;
background-color: var(--button-color);
}
.controlBtn:hover {
transform: scale(1.2);
background-color: var(--white-bg-color);
}
.nextBtn {
-webkit-clip-path: polygon(15% 0, 65% 50%, 15% 100%, 0 85%, 35% 50%, 0 15%);
clip-path: polygon(15% 0, 65% 50%, 15% 100%, 0 85%, 35% 50%, 0 15%);
}
.prevBtn {
-webkit-clip-path: polygon(100% 15%, 65% 50%, 100% 85%, 85% 100%, 35% 50%, 85% 0);
clip-path: polygon(100% 15%, 65% 50%, 100% 85%, 85% 100%, 35% 50%, 85% 0);
}
.slideDotContainer {
position: relative;
width: 100%;
margin: 0 .5rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.slideDots:hover {
transform: scale(1.2);
background-color: var(--white-bg-color);
}

.slideDots {
position: relative;
background-color: transparent;
border: 2px solid var(--button-color);
width: 10px;
height: 10px;
border-radius: 50%;
margin: 0 1px;
list-style: none;
}

.activeDot {
background-color: var(--white-bg-color);
}
.pauseContainer {
position: relative;
width: 30px;
height: 30px;
margin-left: 1rem;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--button-bg-color);
}
.pauseBtn {
width: 50%;
height: 50%;
position: absolute;
background-color: var(--button-color);
-webkit-clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 40% 0, 60% 0, 60% 99%, 100% 100%, 100% 0%);
clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 40% 0, 60% 0, 60% 99%, 100% 100%, 100% 0%);
}
.playBtn {
width: 50%;
height: 60%;
display: none;
position: absolute;
background-color: var(--button-color);
-webkit-clip-path: polygon(0 0, 0 100%, 100% 49%);
clip-path: polygon(0 0, 0 100%, 100% 49%);
}
.playBtn:hover {
transform: scale(1.2);
background-color: var(--white-bg-color);
}
.pauseBtn:hover {
transform: scale(1.2);
background-color: var(--white-bg-color);
}

/* === DESCRIPTION PLACEMENT === */
.place-center-left {
justify-content: center;
}
.place-center {
justify-content: center;
align-items: center;
}
.place-top-right {
justify-content: flex-start;
}
.place-bottom-right {
justify-content: flex-end;
}
.place-top-left {
justify-content: flex-start;
align-items: flex-end;
}
.place-bottom-left {
justify-content: flex-end;
align-items: flex-end;
}